.App {
  text-align: center;
}

.body {
  display: flex;
  margin-top: 10vh;
  justify-content: space-evenly;
}

.header {
  height: 10vh;
  width: 100vw;
  background-color: rgb(171,42,25);
  text-align: left;
  font-size: 24px;
  color: white;
}

.shelfieImg {
  margin-left: 100px;
  margin-top: 20px;
  height: 40px;
  width: 40px;
  margin-right: 50px;
}

.form {
  width: 400px;
  height: 400px;
  float: right;
  margin-right: 15vw;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 20px;
  background-color: rgb(58,216,134);
}

.imgprev {
  width: 400px;
  height: 200px;
  object-fit: scale-down;
  background-color: none;
}

.formField {
  display: flex;
  flex-direction: column;
}

.formButton {
  background-color: rgb(237,107,90);
  border: none;
  text-align: center;

  margin-top: 20px;
  height: 35px;
  width: 100px;
  border-radius: 8px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.productImage {
  width: 250px;
  height: 180px;
  object-fit: contain;
  background-color: none;
  float: left;
}

.productMain {
  width: 470px;
  height: 180px;
  background-color: rgb(171,42,25);
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.productData {
  display: flex;
}

.editDelete {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.editDeleteButton {
  background-color: rgb(58,216,134);
  height: 35px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
}