.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.form {
  width: 400px;
  height: 400px;
  float: right;
  margin-right: 15vw;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 20px;
  background-color: rgb(58,216,134);
}

.imgprev {
  width: 400px;
  height: 200px;
  object-fit: scale-down;
  background-color: none;
}

.formField {
  display: flex;
  flex-direction: column;
}

.formButton {
  background-color: rgb(237,107,90);
  border: none;
  text-align: center;

  margin-top: 20px;
  height: 35px;
  width: 100px;
  border-radius: 8px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.productImage {
  width: 400px;
  height: 200px;
  object-fit: scale-down;
  background-color: none;
}

.productMain {
  width: 600px;
  height: 250px;
}